@use '../base';
@use '../utils';

.main {
    position: relative;
    padding-inline: 1.5rem;
    max-width: 33.75rem;
    margin-inline: auto;

    @include utils.mQ(43.75rem) {
        padding-inline: 0;
    }
}

.todo-container {
    display: grid;
    grid-template-columns: 1fr 9fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

.drag-and-drop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    /* margin-block-end: 3rem; */
    padding-block: .5rem;
    border-radius: 5px;
    position: relative;
    top: -4rem;
}