.main {
    position: relative;
    padding-inline: 1.5rem;
	max-width: 33.75rem;
    margin-inline: auto;
}

.todo-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
	gap: 1rem;
}